name: tomcat build test

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mytomcat2:latest .

      - name: Push
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mytomcat2:latest

      - name: k8s manifest
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/mytomcat2:latest|g "k8s/deployment.yaml
          echo "# Final Build $(date)" >> k8s/deployment.yaml
          git add .
          git commit -m "update image [skip ci]"
          git push origin main

